body{
  background-color: rgba(34,34,34,1)!important;
}

p{
  line-height: 25px!important;
}

html{
  height: 100%;
}

#miniplayer{
  position: fixed;
  bottom: 1%;
  right: 0%;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  background-color: rgba(130, 185, 1, 0.75)!important;
  color: white;
}

.buttons-actions{
	vertical-align: middle!important;
}

#main-wrapper{
  position: relative!important;
  height: 100%!important;
  max-height: 100%!important;
}

.panel-body{
  padding: 15px 15px 0px 15px!important;
}

.play-button{
	border-color: rgba(130, 185, 1, 1)!important;
	color: rgba(130, 185, 1, 1)!important;
}

.play-button:hover{
	background-color: rgba(130, 185, 1, 1)!important;
	
	color: white!important;
}

#imagePlayingSong{
  float: left;
  width: 15%;
  height: auto;
  margin: 5px 15px 5px 5px;
  border-radius: 50%;
}

#namePlayingSong{
  font-size: 26px!important;
}

#albumPlayingSong{
  font-size: 16px!important;
}

#start-time,#end-time{
	font-weight: bold;
	font-size: 15px;
}

#start-time{
	padding-left: 15px!important;
}

#end-time{
	padding-right: 15px!important;
}

.timings{
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-top: 10px;
}

.panel-title{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.center-right{
  text-align: right;
}

.badge{
	margin: 5px!important;
}

.add-padding-top{
  padding-top: 15px;
}

.add-padding-left{
  padding-left: 15px;
}

#wallpaper{	
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	background-size: cover;
	opacity: 0.2;
	position: fixed;
}

#load-more{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-control{
	border: 2px solid rgba(128, 183, 1, 0.5)!important;
}

.form-control:focus{
	border: 2px solid rgba(128, 183, 1, 1)!important;
}

.panel{
	border: none!important;
	border-radius: 10px;
}

.panel-heading{
	background-color: rgba(128, 183, 1, 1)!important;
	border-top-left-radius: 10px!important;
	border-top-right-radius: 10px!important;
}

.caption{
	padding: 0px 9px 0px 9px!important;
}

.navbar-inverse{
  border: 0px!important;
  background-color: transparent;
}

.green-spotify{
  color: #82B901!important;
}

.clear-search-color{
	background-color: rgba(255,0,0,0.1)!important;
	color: red;
	border: none!important
}

.clear-search-color:hover{
	background-color: rgba(255,0,0,1)!important;
	color: white;
}

.green-spotify-background, .progress-bar{
  background-color: #82B901!important;
  outline: 0px!important;
}

.divider-manual {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.filler, .add-margin{
  margin-top: 20px;
  margin-bottom: 20px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.rounded-borders{
  border-radius: 5px;
}

#result-search, #trending, #recommendations, #favorites{
  padding-top: 70px!important;
}

.progress{
  margin-bottom: 0px!important;

}

#progress{
	background-color: transparent!important;
}

.jumbotron {
  background-color: transparent!important;  
}

::-webkit-input-placeholder {
   color: #82B901!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #82B901!important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #82B901!important;  
}

:-ms-input-placeholder {  
   color: #82B901!important;  
}

.fullscreen {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */
  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

#navigation-bar.scrolled {
  background-color: rgba(0,0,0,0.8)!important;
  transition: background-color 200ms linear;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 15px;
  border: 0px solid rgba(130, 185, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #82b901;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 15px;
  border: 0px solid rgba(130, 185, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #82b901;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ffffff;
  border: 0px solid rgba(130, 185, 1, 0);
  border-radius: 30px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid rgba(130, 185, 1, 0);
  border-radius: 30px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2px solid #ffffff;
  width: 20px;
  border-radius: 25px;
  background: #82b901;
  cursor: pointer;
  height: 20px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
